@use './config/reset';
@use './config/variaveis';

body {
    padding-top: 40px;
    background-color: #ccc;

    @media (max-width: 768px) {
        padding: 20px;
    }
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px auto 200px;
    column-gap: 56px;

    @media (max-width: 768px) {
        max-width: 80%;
        display: block;
    }
}

.sideBarContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    position: sticky;
    left: 0;
    top: 40px;
    background-color: #fff;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;

        li {
            padding: 10px 0;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    h4 {
        margin-bottom: 10px;
    }
}

.sideBar_left {

    ul {
        @media (max-width: 768px) {}

    }

    img {
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
        border-radius: 50%;
    }
}

.post {
    display: flex;
    padding: 40px 40px 0 40px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 30px;

    &__avatar {
        img {
            width: 40px;
            border-radius: 50%;
        }
    }

    main {
        padding-left: 10px;

        p {
            margin-bottom: 10px;
        }

        img {
            width: 500px;
            margin-top: 20px;
            border-radius: 20px;

            @media (max-width: 768px) {
                max-width: 90%;
            }
        }

        ul {
            margin-bottom: 20px;
            margin-top: 20px;
            list-style: none;
            display: flex;
            justify-content: space-between;
        }

    }

    &__buttons {
        width: 50%;

        button {
            background-color: transparent;
            border: transparent;
            color: #ccc;
            cursor: pointer;
        }
    }
}

.publicacao {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        margin-top: 20px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;



        li {
            padding: 20px;
        }

        .margin {
            margin: 0 50px;

            @media (max-width: 768px) {
                margin: 0;
            }
        }
    }

    &__container {
        padding: 20px 40px;
    }

    &__input {
        display: grid;
        grid-template-columns: 20px auto;
        gap: 40px;

        input {
            width: 90%;
            padding: 15px;
            border-radius: 20px;
            border: 1px solid #ccc;
        }
    }
}