$white: #ffffff;

$theme-colors: (
  "light": #ffffff,
  "dark": #000000,
  "primary": #009530,
  "secondary": #9fa0a4,
  "info": #fc9c38,
  "success": #00c018,
  "warning": #ffca00,
  "danger": #ff004c,
);
@import "../node_modules/bootstrap/scss/bootstrap";

:root,
[data-bs-theme="light"],
[data-bs-theme="dark"] {
  --bs-primary: #009530;
  --bs-primary-rgb: #009530;
  --bs-primary-bg-subtle: #4fa600;
  --bs-primary-border-subtle: #009530;
  --bs-primary-text-emphasis: #009530;
  --bs-secondary-color: #9fa0a4;
  --bs-body-secondary-color: #ccc;
  --bs-secondary-color-rgb: #9fa0a4;
  --bs-secondary-bg: #626469;
  --bs-secondary-bg-rgb: #626469;
  --bs-link-color-rgb: #9fa0a4;
  --bs-link-hover-color-rgb: #626469;
}

body {
  min-height: 100vh;
  background-color: var(--bs-body-secondary-color);
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;

  .nav-pills {
    --bs-nav-pills-link-active-bg: var(--bs-primary);

    & .nav-link:not(.active):hover {
      background-color: var(--bs-gray-200);
    }
  }
}

footer {
  overflow-x: hidden !important;
  background-color: var(--bs-secondary-bg) !important;
  color: white;
  min-height: 550px;
  a:not(.fa):hover {
    text-decoration: underline !important;
  }
  h5 {
    font-size: calc(
      14px + (18 - 14) * ((100vw - 360px) / (1600 - 360))
    ) !important;
  }

  button {
    font-size: calc(
      13px + (16 - 13) * ((100vw - 360px) / (1600 - 320))
    ) !important;
    border-radius: 0 !important;
    padding-left: calc(
      20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))
    ) !important;
    padding-right: calc(
      20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))
    ) !important;
    padding-top: calc(
      10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
    ) !important;
    padding-bottom: calc(
      10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
    ) !important;
    background-color: #383431 !important;
    border: none !important;
  }

  button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
  }

  li {
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
  }

  input::-webkit-input-placeholder {
    padding-left: 5px !important;
    transform: translate3d(0, -2px, 0);
  }

  input::placeholder {
    vertical-align: middle !important;
    text-align: center !important;
    color: #42443e !important;
    font-size: calc(
      12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))
    ) !important;
  }

  input {
    border-radius: 2px !important;
    background: #fff !important;
    color: #42443e !important;
    border-color: #42443e !important;
  }

  input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
  }

  img {
    vertical-align: middle !important;
    width: 100%;
    width: calc(30px + 6 * ((100vw - 320px) / 680)) !important;
  }

  .list-header {
    font-size: 18px !important;
    font-weight: bold;
    margin-bottom: 20px !important;
    text-transform: uppercase;
  }

  small {
    font-size: calc(
      12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))
    ) !important;
  }

  p {
    font-size: calc(
      10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
    ) !important;
  }

  .social {
    position: relative;
    left: -10px;
  }

  .btn {
    background-color: #42443e !important;
  }

  .fa {
    background-color: #42443e !important;
    padding: calc(6px + (8 - 6) * ((100vw - 360px) / (1600 - 360))) !important;
    font-size: calc(
      14px + (15 - 14) * ((100vw - 360px) / (1600 - 360))
    ) !important;
    width: calc(23px + (30 - 23) * ((100vw - 360px) / (1600 - 360))) !important;
    text-align: center;
    text-decoration: none;
    border-radius: 0px !important;
    margin: 5px 10px 5px 10px !important;
    cursor: pointer;
    color: #fff !important;
  }

  a {
    text-decoration: none !important;
  }

  .line {
    background-color: #ccc !important;
    width: 92%;
  }

  a span {
    font-size: calc(
      14px + (13 - 14) * ((100vw - 360px) / (1600 - 360))
    ) !important;
  }

  .active-1 span:hover {
    color: white !important;
  }

  .third-row {
    background-color: white !important;
    border-radius: 50px !important;
    padding: 0.8vh 2.7vh 0.8vh 2.7vh;
  }

  .third-row li {
    justify-content: space-between !important;
    border-radius: 50px;
    font-size: calc(
      9px + (12 - 9) * ((100vw - 360px) / (1600 - 360))
    ) !important;
  }

  li.active-1 {
    padding: 1.7vh !important;
  }

  .active-1 {
    background-color: #42443e !important;
    font-size: 2vw !important;
    font-weight: bold;
  }

  figcaption {
    font-size: calc(
      10px + (14 - 10) * ((100vw - 360px) / (1600 - 360))
    ) !important;
    text-align: center !important;
    justify-content: center !important;
    justify-self: center !important;
  }

  figure img {
    width: calc(40px + (70 - 40) * ((100vw - 360px) / (1600 - 360))) !important;
  }
}
#profile-modal {
  .wrapper {
    padding: 30px 50px !important;
    border: 1px solid #c1c1c1 !important;
    border-radius: 15px;
    max-width: 600px;
    h4 {
      letter-spacing: -1px;
      font-weight: 400;
    }
    .img {
      width: 70px;
      height: 70px;
      border-radius: 6px;
      object-fit: cover;
    }
    #img-section p,
    #deactivate p {
      font-size: 12px;
      color: #777;
      margin-bottom: 10px;
      text-align: justify;
    }
    #img-section b,
    #img-section button,
    #deactivate b {
      font-size: 14px;
    }

    label {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 500;
      color: #777;
      padding-left: 3px;
    }

    .form-control {
      border-radius: 10px;
    }

    input[placeholder] {
      font-weight: 500;
    }
    .form-control:focus {
      box-shadow: none;
      border: 1.5px solid #0779e4;
    }
    select {
      display: block;
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 10px;
      height: 40px;
      padding: 5px 10px;
      /* -webkit-appearance: none; */
    }

    select:focus {
      outline: none;
    }
    .button {
      background-color: #fff !important;
      color: #0779e4 !important;
    }
    .button:hover {
      background-color: #0779e4 !important;
      color: #fff !important;
    }
    .danger {
      background-color: #fff;
      color: #e20404;
      border: 1px solid #ddd;
    }
    .danger:hover {
      background-color: #e20404;
      color: #fff;
    }
  }
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #009e4d;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #009e4d, #009e4d, #009e4d, #009e4d);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #009e4d, #009e4d, #009e4d, #009e4d);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}
